@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
html {
  scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
	margin: 0;
}
.centered-title{
	text-align: center;
	font-family: 'Jost', sans-serif;
}
.header{
	background-color: #1abc9c;
	padding: 25%;
}
.about{
	text-align: center;
	background-color: #bdc3c7;
	padding-top: 15%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 45%;
}
.about-centered{
	font-size: 19px;
	text-align: center;
	font-family: 'Jost', sans-serif;
}
.h2-about-centered{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'Jost', sans-serif;
}
.h2-skills-centered{
	text-align: center;	
	font-family: 'Jost', sans-serif;
}
.centered-h2{
	text-align: center;
	font-family: 'Jost', sans-serif;
}
.socials-centered{
	text-align: center;
	font-family: 'Jost', sans-serif;
}
.skills{
	text-align: center;
	background-color: #3498db;
	padding-top: 15%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 45%;
}
.socials{
	text-align: center;
	background-color: #1abc9c;	
}


.padding{
	padding-top: 15%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 45%;
}
.portfolio{
	background-color: #f1c40f;
}
.portfolio-centered{
	text-align: center;
	font-size: 30px;

}